.movie {
	background: whitesmoke;
	border-radius: 5px;
	padding: 10px;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.detailsBtn {
	text-decoration: none;
	font-weight: bold;
	color: darkblue
}

.detailsBtn:hover {
	color: blue;
}